*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.header{
  background:black;
  display: flex;
  align-items:center;
  justify-content: space-around;
  padding:10px;
}
.header img{
width:130px;
}
nav{
  background:#073d3a;
  display: flex;
  align-items:center;
  justify-content: space-around;
  height:40px;
}
nav a{
  text-decoration: none;
  color:rgb(235, 228, 228);
  transition: 1s;
  text-align: center;
  flex:15%;
}

nav a:hover{
  color:white;
  flex:20%;
 
}
.hero{
  height:400px;
  background-color: #c9a564;
  display:flex;
  align-items:center;
  justify-content: center;
  color:black;
}
.hero button{
  margin:10px auto;
  padding:7px;
  border-radius: 5px;
  border:none;
  background-color: #073d3a;
  color:white;

}
.card{
  width:250px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border:1px solid black;
  border-radius:15px;
  padding:25px 15px;
}
.card p{
  background:black;
  width:100%;
  color:white;
  padding:10px;
}
.card img{
width:120px;
}
.card h1{
  font-size:15px;
}
.cards{
  display:flex;
  margin:20px auto;
  align-items:center;
  justify-content: space-around;
 
}
footer{
  background:#073d3a;
  color:white;
  display:flex;
  justify-content: space-around;
  padding:20px;

}
footer div{
  display: flex;
  flex-direction: column;
}
footer div a{
  text-decoration: none;
  color:white;
}